/*

Color Scheme:

Midnight Blue: #1A072B rgb(26,7,43)
Medium Violet Red: #C52198 rgb(197,33,152)
Light Sea Green: #2ABABD rgb(42,186,189)
Dark Slate Blue: #433996 rgb(67,57,150)
Slate Blue: #5C51BE rgb(92,81,190)
Light Steel Blue: #F8F6FA rgb(248,246,250)

padding-top
padding-right
padding-bottom
padding-left


*/

/*Global*/
/*font-family: 'Oswald', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Tajawal', sans-serif;*/

h1 {
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
    line-height: 40px;
    font-size: 80px;
    margin: 0 0 30px 0;
    }
h2 {
    font-family: 'Tajawal', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
a{
    font-family: 'Tajawal', sans-serif;
    color: #C52198;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: transparent;
}
#about{
    padding-bottom: 0;
}

#skills{
    background: linear-gradient(-90deg,
        rgba(197,33,152),
        rgba(42,186,189),
        rgba(92,81,190)
      
      );
    color:white;
    padding-top: 60px;
    padding-bottom: 0px;
}
#portfolio{
    padding-top: 60px;
}
#process{
    background: linear-gradient(-90deg,
        rgb(197,33,152),
        rgb(42,186,189),
        rgb(92,81,190)
      
      );
    color:white;
    padding-top: 60px;
    padding-bottom: 0px;
}

/*Jumbotron*/
.jumbotron {
      background: linear-gradient(-90deg,
        rgb(197,33,152),
        rgb(42,186,189),
        rgb(92,81,190)
      
      );
    top:auto;
    color: white;
    padding-bottom: 60px;
  }

  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }

  .logo {
      width: 100px;
      height: 100px;
  }
  .logo {vertical-align: middle;}

.thumbnail:hover {
      box-shadow: 5px 0px 40px rgba(42,186,189, .8);
  }

  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
      transition: box-shadow 0.5s;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
 .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #433996;
  }
  .carousel-indicators li {
      border-color: #433996;
  }
  .carousel-indicators li.active {
      background-color: #433996;
  }

  
  .navbar {
      margin-bottom: 0;
      background: linear-gradient(-90deg,
        rgba(197,33,152),
        rgba(42,186,189),
        rgba(92,81,190)
      
      );
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: 'Tajawal', sans-serif;}

 .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #2ABABD !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  
  
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  } 
      
/*skills section*/

/*portfolio*/
      
#portfolio{
    padding-top: 60px;
}
/*Carousel*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C52198' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C52198' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
/*Svcs and Prices Panel*/

.panel {
      border: 1px solid #C52198; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(42,186,189, .8);
  }
/*
  .panel-footer .btn:hover {
      border: 1px solid #C52198;
      background-color: #fff !important;
      color: #C52198;
  }
*/
  .panel-heading {
      color: #fff !important;
      background-color: #C52198 !important;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #C52198;
      color: #fff;
  }
/*Contact*/
.submit{
    background: #C52198;
    color: white;
}
/*Footer*/
 
.footer{
    padding-top: 60px;
    padding-bottom: 0px;
}

.fa fa-angle-double-up{
    font-size:48px;
    color:#C52198;
}

 
